# proto
.gen
.proto-export
.proto-export-deps
v4-proto-js/build
v4-proto-js/node_modules
v4-proto-js/src
v4-proto-py/build
v4-proto-py/dist
v4-proto-py/v4_proto
v4-proto-py/v4_proto.egg-info/
v4-proto-rs/Cargo.lock
v4-proto-rs/target

# dev
**/.DS_Store
.aider*
.idea
.vscode
