name: Indexer Build & Push Images to AWS ECR for Dev / Staging branches

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
      - 'release/indexer/v[0-9]+.[0-9]+.x'  # e.g. release/indexer/v0.1.x
      - 'release/indexer/v[0-9]+.x'  # e.g. release/indexer/v1.x
      - 'adam/ct-1059-address-issue-with-orderbookmidprice-calculation'

jobs:
  # Build and push to dev2
  call-build-and-push-ecs-services-dev2:
    name: (Dev2) Build and Push ECS Services
    uses: ./.github/workflows/indexer-build-and-push-all-ecr-images.yml
    with:
      ENVIRONMENT: dev2
    secrets: inherit
